@page "/"
@using System.ComponentModel.DataAnnotations
<PageTitle>Home</PageTitle>

<h1>Birthday Gift Suggestion App</h1>

<EditForm Model="formModel" OnValidSubmit="HandleFormSubmit" novalidate>
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <InputSelect @bind-Value="formModel.Relationship" class="select select-bordered w-full max-w-xs">
        <option disabled selected>Select a Relationship</option>
        @foreach (var relationship in Enum.GetValues<RelationshipType>())
        {

            <option value="@relationship">@relationship.ToString()</option>
        }
    </InputSelect>

</EditForm>


@code
{
    private FormModel formModel = new FormModel();
    protected class FormModel
    {

        [Required]
        [AllowedValues(RelationshipType.Friend, RelationshipType.Relative,
            RelationshipType.Parent, RelationshipType.Brother, RelationshipType.Sister,
            RelationshipType.Child, RelationshipType.Spouse, RelationshipType.Colleague, RelationshipType.Other)]
        public RelationshipType Relationship { get; set; }

        [Required, Range(1, 100)]
        public int Age { get; set; } = default;
        [Required, AllowedValues(Gender.Male, Gender.Female)]
        public Gender Gender { get; set; } = Gender.Female;
        [Required, Range(1, 99999999)]

        public double Budget { get; set; } = default;

    }
    private void HandleFormSubmit()
    {

    }

}